<div class="card" style="padding: 3rem 2rem 3rem 2rem; border: 5px; margin: 6rem 3rem 6rem 3rem; ">
  <div class="card-header" style="font-size: 30px; font-weight: 700; background: #ccc;">
    Login
  </div>
  <div class="card-body" style="border: 2px; background: #ccc;">
    <form>

      <div class="form-group">
        <h4>Entre com os dados para acesso ao sistema.</h4>
      </div>

      <div class="form-group">
        <label for="user">E-mail</label>
        <input type="email" class="form-control" id="login" name="login" placeholder="Informe o E-mail" required>
      </div>

      <div class="form-group">
        <label for="password">Senha</label>
        <input type="password" class="form-control" id="senha" name="senha" placeholder="Informe a senha" required>
      </div>

      <button type="submit" class="btn btn-primary">Acessar</button>

    </form>
  </div>
</div>